server_host: 'chat.freenode.net'
server_port: 6666
nickname: zgphpbot
username: zgphpbot
# password:
realname: 'A test bot'

plugins:
    - ZgPhp\IrcBot\Plugins\AutoJoin
    - ZgPhp\IrcBot\Plugins\Weather

autojoin:
    channels:
        - "##test"
        # - "#zgphp"
